.about-container {
  padding: 5px;

  .about {
    font-size: 20px;
    font-weight: normal;
    text-indent: 10px;
    text-align: center;
  }

  .employee-container {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 120px;
    }

    img {
      width: 120px;
    }

    .name {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      padding-top: 2px;

      em {
        font-size: 16px;
        font-weight: normal;
      }
    }

    .quote {
      padding: 0 15px;
    }
  }
}
