.submission {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid $popofcolor;
  padding: 20px;
  margin-bottom: 10px;
  .submitter-name {
    font-weight: bold;
  }
  .inactive {
    display: none;
  }
}

.seasons-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .season-name {
    margin-right: 20px;
  }
  .new-submission-button {
    background-color: $popofcolor;
    color: white;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 20px;
  }
}
