{
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true,
    "node": true
  },
  "globals": {
    "__rootdir": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "classes": true,
      "experimentalObjectRestSpread": true,
      "globalReturn": true,
      "jsx": true,
      "modules": true
    },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "18.2.0"
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    // suppress errors for missing 'import React' in files
    "react/react-in-jsx-scope": "off",
    // allow jsx syntax in js files (for next.js project)
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }], //should add ".ts" if typescript project
    "react/prop-types": 0
  }
}
