.container {
    width: 100%;
    padding: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #E1E1E1 #888888 #888888 #E1E1E1;
    box-sizing: border-box;
    background: #C0C0C0;
    color: black;
    box-shadow: 3px 3px 9px -2px #000000;

    .container-header {
        height: 33px;
        line-height: 33px;
        padding: 0 3px;
        font-weight: bold;
        background: #F80EA1;
        color: rgb(254, 254, 254);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .container-content {
        padding: 20px 10px;
        min-height: 40px;    
    }

    .button-container {
        outline: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        background: rgb(198, 198, 198);
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;  
        height: 27px;
        width: 31px;
        cursor: pointer;
        border-style: solid;
        border-width: 2px;
        border-color: #E1E1E1 #888888 #888888 #E1E1E1;
        
        .icon {
            color: #898989;
            font-size: 21px;
            font-weight: bold;
            margin-top: -3px;
        }
    }
}