@import "normalize-scss";

body {
  font-family: "Chivo", monospace;
  // color: $popofcolor;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
  // color: $popofcolor;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .new-form form section.week,
  .new-form form .text input,
  .seasons-list,
  .dill-message,
  .submission {
    width: 50%;
  }
}
