@import '../../styles/globals.scss';

.submission {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid $popofcolor;
  padding: 20px;
  margin-bottom: 10px;
  .submitter-name {
    display: inline-block;
    font-weight: bold;
    max-width: 80%;
  }
  .score {
    background-color: $popofcolor;
    color: white;
    padding: 5px;
    float: right;
    margin-top: -10px;
    font-size: 22px;
  }
  .inactive {
    display: none;
  }
  .submissionWeek {
    margin-bottom: 20px;
  }
  .position {
    span:first-child {
      font-weight: bold;
      text-transform: capitalize;
      text-decoration: underline;
      margin-right: 5px;
    }
    margin-bottom: 3px;
  }
  &.winner {
    background-color: $popofcolor;
    color: white;
    margin-bottom: 35px;
    font-size: 21px;
    &::before {
      content: 'WINNER  ';
      line-height: 1.5;
      margin-right: 25px;
      text-decoration: underline;
    }
  }
}

.seasons-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .season-name {
    margin-right: 20px;
  }
  .new-submission-button {
    background-color: $popofcolor;
    color: white;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 20px;
  }
}
