.links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  height: 190px;
  padding: 0 20px;
}

.group-promo {
  width: 100%;
}

.welcome {
  padding: 5px;
  text-indent: 20px;
}
