.pink-button {
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #FF8EDC;
    background: linear-gradient(#FF8EDC, #F80EA1);
    border: 2px solid white;
    border-radius: 50px;
    display: block;
    padding: 12px 0px;
    font-size: 18px;
    box-shadow: 5px 5px 9px -5px #000000;
}